@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@font-face{
  font-family: "InikaBold";
  src: url("./assets/Inika-Bold.ttf");
}
@font-face{
  font-family: "InikaRegular";
  src: url("./assets/Inika-Regular.ttf");
}
@font-face{
  font-family: "Esteban";
  src: url("./assets/Esteban-Regular.ttf");
}
@font-face{
  font-family: "Epilogue";
  src: url("./assets/Epilogue-VariableFont_wght.ttf");
}
@font-face{
  font-family: "EnriquetaBold";
  src: url("./assets/Enriqueta-Bold.ttf");
}
@font-face{
  font-family: "EnriquetaSemiBold";
  src: url("./assets/Enriqueta-SemiBold.ttf");
}
@font-face{
  font-family: "EnriquetaMedium";
  src: url("./assets/Enriqueta-Medium.ttf");
}
@font-face{
  font-family: "EnriquetaRegular";
  src: url("./assets/Enriqueta-Regular.ttf");
}
@font-face{
  font-family: "NunitoVariable";
  src: url("./assets/Nunito-VariableFont_wght.ttf");
}
.navbar{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.hero{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.nav-ul > *{
  font-size: clamp(17px, 2vw + 1rem, 1.25rem);
}
.heading-hero{
  font-size: clamp(20px, 2vw + 1rem, 40px);
}
.para-hero{
  font-size: clamp(17px, 2vw + 1rem, 20px);
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 18px;
}
.span-hero{
  padding: min(0.3rem, 0.5rem);
}
.section-desc{
  padding-block: min(4rem, 8rem);
}
.hero-desc{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.para-desc{
  font-size: clamp(17px, 2vw + 1rem, 20px);
}
.education{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.heading-educ{
  font-size: clamp(40px, 2vw + 1rem, 64px);
}
.heading-two-education{
  font-size: clamp(20px, 2vw + 1rem, 32px);
}
.para-one-education{
  font-size: clamp(20px, 2vw + 1rem, 24px);
}
/*.nice{
  grid-template-rows: repeat(2, minmax(0, 1fr));
}*/
/*.nice-child{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}*/
.nice{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width:0px) and (max-width: 640px){
  .skill-section{
    display: flex;
    flex-direction: column;
  }
  .skill-section > *{ 
    height: 25dvh;
  }
  .nice-contact{
    display: flex;
    flex-direction: column;
  }
}
.skill-section > *:nth-child(1){
  display: flex;
  align-items: center;
}
.skill-section > *:nth-child(2){
  display: flex;
  align-items: center;
}
.skill-section > *:nth-child(3){
  display: flex;
  align-items: center;
}
.skill-section > *:nth-child(4){
  display: flex;
  align-items: center;
}
.skill{
  width: min(50%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width:640px) and (max-width: 768px){
  .skill-section{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .competence-section{
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  }
  .nice-contact{
    display: flex;
    flex-direction: column;
  }
}
@media (min-width:768px) and (max-width: 1024px){
  .child-article{
    width: min(90%, 900px);
    margin-inline: auto;
  }
  .btn-article{
    width: min(90%);
    margin-inline: auto;
  }
  .skill-section{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .competence-section{
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}
@media (min-width:1024px) and (max-width: 1280px){
  .child-article{
    width: min(90%, 900px);
    margin-inline: auto;
  }
  .btn-article{
    width: min(90%);
    margin-inline: auto;
  }
  .competence-section{
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}
@media (min-width:1280px){
  .child-article{
    width: min(70%, 900px);
    margin-inline: auto;
  }
  .btn-article{
    width: min(90%);
    margin-inline: auto;
  }
  .competence-section{
    width: min(90%, 1280px);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}
.skill-article{
  width: min(90%, 900px);
  margin-inline: auto;
}
.skill-section{
  width: min(90%, 1280px);
  margin-inline: auto;
}
.competence-article{
  width: min(90%, 900px);
  margin-inline: auto;
}
.competence-heading{
  font-size: clamp(40px, 2vw + 1rem, 64px);
}
.competence-div{
  width: min(100%);
}
.card-heading{
  font-size: clamp(17px, 2vw + 1rem, 20px);
}
.nice-card{
  width: min(80%, 90%);
  margin-inline: auto;
}
.textarea-contact{
  resize: none;
}
.nice-contact{
  width: min(90%, 1280px);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.contact-div{
  margin-inline: auto;
}
.footer-div{
  width: min(90%);
  margin-inline: auto;
}
.footer-para{
  font-size: clamp(16px, 2vw + 1rem, 17px);
}
.animationHero{
  animation: myAnim 2s ease 0s 3 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
.headingOne{
  animation: text 2s ease 0s 3 normal forwards;
}
@keyframes text {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
@media (max-height: 390px){
  .animationHero{
    max-width: 100%;
    display: block;
    height: 50dvh;
  }
  .competence{
    max-width: 100%;
    display: block;
    height: 20dvh;
  } 
  .card-article{
    padding-block: 1rem;
  }
  .contact{
    height: 140dvh;
  }
  .skills{
    height: 100dvh;
  }
  #about{
    height: 120dvh;
  }
  #project{
    height: 250dvh;
  }
}