@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "InikaBold";
  src: url("./assets/Inika-Bold.ttf");
}
@font-face{
  font-family: "InikaRegular";
  src: url("./assets/Inika-Regular.ttf");
}
@font-face{
  font-family: "Esteban";
  src: url("./assets/Esteban-Regular.ttf");
}
@font-face{
  font-family: "Epilogue";
  src: url("./assets/Epilogue-VariableFont_wght.ttf");
}
@font-face{
  font-family: "EnriquetaBold";
  src: url("./assets/Enriqueta-Bold.ttf");
}
@font-face{
  font-family: "EnriquetaSemiBold";
  src: url("./assets/Enriqueta-SemiBold.ttf");
}
@font-face{
  font-family: "EnriquetaMedium";
  src: url("./assets/Enriqueta-Medium.ttf");
}
@font-face{
  font-family: "EnriquetaRegular";
  src: url("./assets/Enriqueta-Regular.ttf");
}
.navbar{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.hero{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.nav-ul > *{
  font-size: clamp(17px, 2vw + 1rem, 1.25rem);
}
.heading-hero{
  font-size: clamp(20px, 2vw + 1rem, 40px);
}
.para-hero{
  font-size: clamp(17px, 2vw + 1rem, 20px);
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 18px;
}
.span-hero{
  padding: min(0.3rem, 0.5rem);
}
.section-desc{
  padding-block: min(4rem, 8rem);
}
.hero-desc{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.para-desc{
  font-size: clamp(17px, 2vw + 1rem, 20px);
}
.education{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.heading-educ{
  font-size: clamp(40px, 2vw + 1rem, 64px);
}
.heading-two-education{
  font-size: clamp(20px, 2vw + 1rem, 32px);
}
.para-one-education{
  font-size: clamp(20px, 2vw + 1rem, 24px);
}
/*.nice{
  grid-template-rows: repeat(2, minmax(0, 1fr));
}*/
/*.nice-child{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}*/
.nice{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width:0px) and (max-width: 640px){
  .skill-section{
    display: flex;
    flex-direction: column;
  }
  .skill-section > *{ 
    height: 25dvh;
  }
}
.skill-section > *:nth-child(1){
  display: flex;
  align-items: center;
}
.skill-section > *:nth-child(2){
  display: flex;
  align-items: center;
}
.skill-section > *:nth-child(3){
  display: flex;
  align-items: center;
}
.skill-section > *:nth-child(4){
  display: flex;
  align-items: center;
}
.skill{
  width: min(50%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width:640px) and (max-width: 768px){
  .skill-section{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
@media (min-width:768px) and (max-width: 1024px){
  .child-article{
    width: min(90%, 900px);
    margin-inline: auto;
  }
  .btn-article{
    width: min(90%);
    margin-inline: auto;
  }
  .skill-section{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media (min-width:1024px) and (max-width: 1280px){
  .child-article{
    width: min(90%, 900px);
    margin-inline: auto;
  }
  .btn-article{
    width: min(90%);
    margin-inline: auto;
  }
}
@media (min-width:1280px){
  .child-article{
    width: min(70%, 900px);
    margin-inline: auto;
  }
  .btn-article{
    width: min(90%);
    margin-inline: auto;
  }
}
.skill-article{
  width: min(90%, 900px);
  margin-inline: auto;
}
.skill-section{
  width: min(90%, 1280px);
  margin-inline: auto;
}
