@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "InikaBold";
  src: url("./assets/Inika-Bold.ttf");
}
@font-face{
  font-family: "InikaRegular";
  src: url("./assets/Inika-Regular.ttf");
}
@font-face{
  font-family: "Esteban";
  src: url("./assets/Esteban-Regular.ttf");
}
@font-face{
  font-family: "Epilogue";
  src: url("./assets/Epilogue-VariableFont_wght.ttf");
}
@font-face{
  font-family: "EnriquetaBold";
  src: url("./assets/Enriqueta-Bold.ttf");
}
@font-face{
  font-family: "EnriquetaSemiBold";
  src: url("./assets/Enriqueta-SemiBold.ttf");
}
@font-face{
  font-family: "EnriquetaMedium";
  src: url("./assets/Enriqueta-Medium.ttf");
}
@font-face{
  font-family: "EnriquetaRegular";
  src: url("./assets/Enriqueta-Regular.ttf");
}
.navbar{
  width: min(90%, 1200px);
  margin-inline: auto;
}
.nav-ul > *{
  font-size: clamp(17px, 1rem, 1.25rem);
}